/*
procura css, html ou js nesse link
https://developer.mozilla.org/en-US/docs/Web.

MANTENHA O CSS ORGANIZADO COLOQUE COMENTARIO NÃO MUITO EXPECIFICO
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    overflow: hidden;
    background: linear-gradient(45deg, #003344 0%, #0b1d29 30%, #0f0f0f 100%);
    background-attachment: fixed;
    color: #fff;
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    padding: 20px 50px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.logo {
    font-size: 15px;
}

#conteudo {
    text-align: center;
}
.imagem1 img {
    max-width: 20%;
    min-height: 15%;
    filter: drop-shadow(-10px 5px 10px #018ab8)
}

.imagem1 {
    text-align: left;
    margin-top: 5%;
}

li:hover {
    transform: scale(1.25);
}

header nav ul {
    display: flex;
    gap: 15px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #00f7ff;
    transition: width 0.3s ease-in-out;
}

header nav ul li.active::after {
    width: 100%;
    background-color: #00ff95;
}

header nav ul li:hover::after {
    width: 100%;
}

/* HOME */
.simulador {
    position: relative;
    top: -250px;
}

.painel-status span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.painel-status {
    position: relative;
    top: -250px;
}

/* SOBRES */
.text {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Montserrat';
}

/*CAIXA ATRÁS DOS CAMPOS DE CADASTRO*/

.container {
  border: 2px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  margin-left: 100px;
  margin-right: 560px;
  margin-top: 10%;
  padding: 57px;
  color: #0c1cf7;
  padding-top: px;
  box-shadow: #00f7ff 1px 2px 21px;
  text-align: center;
}

input{
    padding: 14px;
    border: 2px;
    border-radius: 7px;
    background-color: rgb(0, 238, 255);
}

input:hover {
    background: #64faff;
}

button {
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    background: #3cb1ff;
    color:rgb(46, 10, 255);
}

button :hover{
    background: #7e8d92;
}